body {
    background-image: url("https://github.com/Foster1230/Hackathon-Group-4/blob/lc-18-html/assets/background.png?raw=true");
   font-family: 'Rye', cursive;
}

.img-spade {
    height:50px;
    width: 50px;
}

.blackjack-nav{
    background-color: red !important;
}

.navbar-brand {
    text-decoration: none;
}

.status-card{
    position: fixed;
    float: right;
    top: 300px;
}
