body {
    background-image: url("https://github.com/Foster1230/Hackathon-Group-4/blob/lc-18-html/assets/background.png?raw=true");
   font-family: 'Rye', cursive;
    background-size: cover;
}

.img-spade {
    height:50px;
    width: 50px;
}

.blackjack-nav{
    background-color: red !important;
}

.navbar-brand {
    text-decoration: none;
}

.status-card{
    position: fixed;
    float: right;
    top: 300px;
}

.button{
    background-color:bisque;
    font-size:25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.divider{
    width:5px;
    height:auto;
    display:inline-block;
}

.button-hit{
    position: fixed;
    left: 75%;
    top: 120px;
    border-radius: 8px;
    text-align: center;
    width: 70px;

}

.button-stand{
    position: fixed;
    left: 82.5%;
    top: 120px;
    border-radius: 8px;
    width: 90px;
}
.card{
    margin: 5px 0;
}
.dealer-card{
    opacity: 0;
}